*{
    margin:0px;
    padding: 0px;
    color: white;
}

body{
    background-color: rgb(42, 42, 42);
    max-width: 800px;
    margin: auto;
}

.titulo{
    text-align: center;
    
}
.titulo h1{
    
}

.Arquivos{
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
}

.botao{
    margin-top: 10vh;
    text-align: center;
}

.botao p{
    width: 80px;
    margin:auto;
    background-color: rgb(64, 112, 245);
    border-radius: 0px 20px 0px 10px;
    margin-top: 10vh;
}

.saida{
    margin-top: 10vh;
    text-align: center;
    max-height: 200px;
    overflow: auto;
}

.saida .finish{
    position: absolute;
    bottom: 2%;
    left: 45%;
    color: orange;
}

.Arquivos label{
    border-radius: 10px 20px ;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.5);
}